<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>随访家园患者端</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="bookmark" href="/favicon.ico"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<style>
	@import './assets/css/mint-ui.css';
	@import './assets/css/common.css';
	@import './assets/css/normalize.css';
	@import './assets/css/MPreview.mobile.css';

	.online-msg-ipt-box{overflow: hidden}
	.online-msg-ipt-box .mint-cell{padding-bottom: 10px;overflow: visible}
	.online-msg-ipt-box .mint-cell:after,.online-msg-ipt-box .mint-cell:nth-last-of-type(1):before{border: 0;}
	.online-msg-ipt-box .mint-cell:before{left: 10px;transform: scaleY(1);}
	.online-msg-ipt-box input,.online-msg-ipt-box textarea{width: 100%;margin-top: 15px;border: 0;font-size: 14px;}
	.online-msg-ipt-box .mint-cell .mint-cell-value span{margin-top: 35px;padding-left: 10px;color: #aaa;}
	.online-msg-tap .weui_cells{margin-top: 0;}
	.online-msg-tap .weui_cells:before,.online-msg-tap .weui_cells:after{border: 0;}
	.online-msg-tap .weui_uploader_input_wrp,.online-msg-tap .weui_uploader_file{margin-top: 8px;}
	.online-msg-select-doc{margin-top: 15px;font-size: 14px;height: 18px;line-height: 18px;text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
	.online-msg-ipt-box textarea{line-height: 20px;overflow-y: hidden;min-height: 24px;height: 24px;border:1px solid transparent;}

</style>

<!--测试引用-->
<script type='text/javascript' src='http://test.jk7.com/html/js/zepto-v1.2.0-min.js' charset='utf-8'></script>
<script type="text/javascript" src='http://test.jk7.com/html/js/MPreview.mobile.min.js' charset='utf-8'></script>
<script type="text/javascript" src='https://res.wx.qq.com/open/js/jweixin-1.0.0.js' charset='utf-8'></script>
<script type="text/javascript" src='./assets/js/vue.min.js'></script>

<!--正式引用-->
<!--<script type='text/javascript' src='http://wx.jk7.com/html/js//zepto-v1.2.0-min.js' charset='utf-8'></script>
<script type="text/javascript" src='http://wx.jk7.com/html/js/MPreview.mobile.min.js' charset='utf-8'></script>
<script type="text/javascript" src='https://res.wx.qq.com/open/js/jweixin-1.0.0.js' charset='utf-8'></script>
<script type="text/javascript" src='./assets/js/vue.min.js'></script>-->
<body id="msg">
<header class="mint-header is-fixed leh-bg-grey-head">
	<div class="mint-header-button is-left">
		<a href="http://test.jk7.com/home">
			<span class="iconfont icon-wx-arr-left leh-c-green"></span>
		</a>
	</div>
	<h1 class="mint-header-title leh-c-black">在线留言</h1>
	<div class="mint-header-button is-right"> </div>
</header>
<div class="leh-wrap page-popup">
	<div class="page-cell online-msg-ipt-box">
		<a class="mint-cell">
			<label class="mint-cell-title">
				<span class="mint-cell-text leh-c-green">选择医生</span>
				<div class="online-msg-select-doc" @click="show_name = !show_name" v-text="name" :id="doctor_id"></div>
				<ul class="leh-select-drag-box" v-show="show_name">
					<li v-for="items in users"  @click="getName(items.name, items.id)">{{ items.name }}</li>
				</ul>
			</label>
			<div class="mint-cell-value">
				<span class="iconfont icon-wx-arr-down"></span>
			</div>
		</a>
		<a class="mint-cell">
			<label class="mint-cell-title">
				<span class="mint-cell-text leh-c-green">留言内容</span>
				<textarea class="msg-val" rows="1" placeholder="请输入你需要留言的内容" v-model="msg_val" maxlength="100"></textarea>
			</label>
			<div class="mint-cell-value"></div>
		</a>
		<a class="mint-cell">
			<label class="mint-cell-title">
				<span class="mint-cell-text leh-c-green">上传图片</span>
				<span class="leh-c-grey leh-fs-twelve">(最多仅允许上传5张照片)</span>
			</label>
			<div class="mint-cell-value"></div>
		</a>
	</div>
	<div class="online-msg-tap-box">
		<div class="online-msg-tap">
			<div class="weui_cells weui_cells_form">
				<div class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<div class="weui_uploader">
							<div class="weui_uploader_bd">
								<ul class="weui_uploader_files">
									<li class="weui_uploader_file" v-for="items in picItems" track-by="$index" :reddot="items.unread">
										<img :src="items"  @click="showPic(items)"/>
										<span class="leh-img-del-btn iconfont icon-wx-reduce" @click="delPic($index)"></span>
									</li>
								</ul>
								<div class="weui_uploader_input_wrp" v-if="!isUpload" @click="addPic">
									<span class="iconfont icon-wx-camera"></span>
								</div>
								<div class="weui_uploader_input_wrp" v-if="isUpload && !isFull" @click="addPic">
									<span class="iconfont icon-wx-add"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="leh-full-btn">
		<button class="mint-button mint-button--green mint-button--large" @click="saveMsgPop">
			<label class="mint-button-text leh-c-white">发布</label>
		</button>
	</div>

</div>

<!-- 用于展示插件的容器 -->
<div class="overlay" id="overlay"></div>


<script>
	var vue;
	function vue_init () {
		vue = new Vue({
			el: "#msg",
			data: {
				msg_val:'',
				tips: '',
				from_path: '',
				show_name: 0,
				name: '', // 医生名称
				doctor_id: '', // 医生ID
				old_name: '',
				users: [], // 医生列表
				picItems: [], // 图片数组
				serverId: '', // 上传图片返回的serverId
				serverIds: [], // 存储多图的serverId
				isUpload: false, // 判断是否上传图片
				isFull: false, // 判断是否传满所有图片
			},

			created: function () {

				var _self = this
				// 患者评价
				$.ajax({
					url: 'http://test.jk7.com/api/doctors/simple',
					type: 'GET',
					dataType: "json",
					contentType: 'application/x-www-form-urlencoded',
					success: function (data) {
						var rsp = data.data
						_self.users = rsp
						_self.name = rsp[0].name
						_self.doctor_id = rsp[0].id
						_self.getName(_self.name, _self.doctor_id)
					}
				});
			},
			ready: function () {

				// 初始值
				this.isUpload = false

				// 上传图片，验证签名
				function pageConfig() {

					$.ajax({
						url: 'http://test.jk7.com/api/valid',
						type: 'GET',
						dataType: "json",
						contentType: 'application/x-www-form-urlencoded',
						data: {
							pageurl: window.location.href
						},
						success: function(data){
							wxconfig(data);
						}
					});
				}
				pageConfig()

				function wxconfig (data){
					wx.config({
						debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
						appId: data.appId, // 必填，公众号的唯一标识
						nonceStr: data.nonceStr, // 必填，生成签名的随机串
						timestamp: data.timestamp, // 必填，生成签名的时间戳
						signature: data.signature, // 必填，签名，见附录1
						jsApiList: [
							'checkJsApi',
							'chooseImage',
							'previewImage',
							'uploadImage',
							'downloadImage',
							'translateVoice'
						] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
					});
				}

				wx.hideMenuItems({
					menuList: ["menuItem:share:appMessage","menuItem:share:timeline","menuItem:share:qq","menuItem:share:weiboApp","menuItem:share:facebook","menuItem:share:QZone","menuItem:copyUrl","menuItem:originPage","menuItem:openWithQQBrowser","menuItem:openWithSafari"] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
				});
			},
			methods: {
				getName: function (names, ids) {
					this.name = names
					this.doctor_id = ids
					this.old_name = names
					this.show_name = 0
				},

				showPic: function () {

					wrapPic(this.picItems, '在线留言') // 查看图片
				},
				wrapPic: function (picArr, titName) {

					var wrap = document.querySelector('#overlay'),
							title = titName || '查看图片',
							data = [];

					if(typeof(picArr) === 'string'){
						data.push(picArr)
					}else if(typeof(picArr) === 'object'){
						data = picArr
					}else {
						console.log('图片变量类型必须为string或object' + typeof(picArr))
					}
					wrap.className = wrap.className + ' in';

					// 延迟初始化插件是为了让CSS动画走完
					setTimeout(function() {
						MPreview({
							data: data,
							title: title,
							direction: 'left',
							wrap: '#overlay',
							init: function() {
							},
							close: function() {
								wrap.className = wrap.className.replace(' in', '');
							}
						});
					}, 400);

				},

				// 添加图片
				addPic: function () {

					var _self = this
					var len = _self.picItems.length
					if(len === 5 ){
						alert('最多仅允许上传5张照片')
						return
					}
					wx.chooseImage({
						count: 5 - len, // 默认9
						sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
						sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
						success: function(res) {

							var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
							var picItems = _self.picItems.concat(localIds) // 合并分次上传的localId

							// 已经上传图片切换上传按钮
							if(picItems.length > 0){

								_self.isUpload = true
							}

							// 满5张隐藏上传按钮
							if(picItems.length == 5 ){

								_self.isFull = true
							}

							// 上传图片不能超过5张
							if(picItems.length > 5 ){

								alert('最多仅允许上传5张照片')
								return
							}else{
								_self.picItems = _self.picItems.concat(localIds)
							}

						},
						fail: function (res) {
							alert(JSON.stringify(res));
						}
					});
				},

				// 保存图片
				saveMsgPop: function () {

					var _self = this
					if(_self.name === ''){

						alert('请先绑定专属医生才能使用留言功能，如有疑问，可致电：400-966-8838')
						return
					}

					if(_self.msg_val === '') {
						alert('请填写留言内容')
						return
					}

					if(_self.picItems.length == 0){

						// 上传
						var params = {
							"drId": _self.doctor_id,
							"content": _self.msg_val,
							"serverIds": ''
						}

						$.ajax({
							type: "POST",
							url: 'http://test.jk7.com/api/PatientMessages',
							data: params,
							dataType: 'json',
							success: function (res) {

								if(res.recode == '1'){
									alert(msg)
								}else{
									_self.msg_val = ''
									window.location.href='http://test.jk7.com/vue_html/vue_note.html?isclose=false&id='+res.data;

								}
							},
							error: function (XMLHttpRequest, textStatus, errorThrown) {
								alert('网络出错')
								return;
							}
						});


					}else {

						// 上传图片
						this.uploadImages()
					}

				},

				// 上传图片
				uploadImages: function () {

					// 获取serverId
					var _self = this
					var localId = _self.picItems.pop();
					wx.uploadImage({
						localId: localId, // 需要上传的图片的本地ID，由chooseImage接口获得
						isShowProgressTips: 1, // 默认为1，显示进度提示
						success: function (res) {

							//	_self.serverId = res.serverId; // 返回图片的服务器端ID
							_self.serverIds.push(res.serverId)

							//其他对serverId做处理的代码
							if(_self.picItems.length > 0){

								_self.uploadImages();
							}else{

								// 上传
								var params = {
									"drId": _self.doctor_id,
									"content": _self.msg_val,
									"serverIds": _self.serverIds
								}

								$.ajax({
									type: "POST",
									url: 'http://test.jk7.com/api/PatientMessages',
									data: params,
									dataType: 'json',
									success: function (res) {

										if(res.recode == '1'){
											alert(msg)
										}else{
											_self.msg_val = ''
											_self.serverIds.length = 0
											window.location.href='http://test.jk7.com/vue_html/vue_note.html?isclose=false&id='+res.data;

										}
									},
									error: function (XMLHttpRequest, textStatus, errorThrown) {
										alert('网络出错')
										return;
									}
								});

							}

						},
						fail: function (res) {
							alert(JSON.stringify(res));
						}
					});
				},

				// 删除图片
				delPic: function (ind) {
					var removePic = this.picItems[ind]
					this.picItems.$remove(removePic)

					// 已经上传图片切换上传按钮
					if(this.picItems.length == 0){

						this.isUpload = false
					}

					// 不满5张显示上传按钮
					if(this.picItems.length < 5 ){

						this.isFull = false
					}
				}

			},
			watch: {
				msg_val : function (newVal) {
					var msgTest = $('.msg-val')
					var scrollH = msgTest[0].scrollHeight
					msgTest.height(scrollH)
					if(!newVal){
						msgTest.height(24)
					}
				}
			}
		});

	}
	vue_init()




</script>



</body>
</html>
